.addfriends {
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*grid-template-rows: auto;*/
    /*background-color: gray;*/
    /*border-radius: 10px;*/
    /*margin-left: 3px;*/



}

.item {
    text-decoration: none;
    color: gold;
    margin-left: 10px;

}