.messagebox {
    grid-area: m;
    background-color: cornflowerblue;
    border-radius: 10px;
    /*margin-right: 3px;*/
    /*align-items: stretch;*/
    /*height: 100%;*/
    display: block;

}

.img {
    height: 100px;
    width: 100%;
    border-radius: 10px;
    margin-right: 3px;
}

.item {


}