<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TaskManager</title>
    <link href="taskManager.css" rel="stylesheet">
</head>
<body class="body">
<div class='taskManager' id='taskManager'>
    <div class="currents-task" id="currentsTask">
        <ul>
            <li> Many</li>
            <li> Dom</li>
            <li id="currents"> Auto</li>
        </ul>
    </div>
    <div>
        <textarea class="text-task" id="textTask"> Add new Task</textarea>
        <button class="add-task" id="addTask"> Add Task</button>
    </div>
</div>
<script src="taskManager.js"></script>
</body>
</html>
