.decksite {
    grid-area: m;
    background-image: url("./../../Img/wood.jpg");
    border-radius: 10px;
    /*margin-right: 3px;*/
    /*align-items: stretch;*/
    /*height: 100%;*/
    display: block;

}
/*.item {*/
/*    text-decoration: none;*/
/*    color: black;*/
/*}*/
/*.item :focus {*/
/*    color: yellow;*/
/*}*/
/*.item :active {*/
/*    color: azure;*/
/*}*/