.body {
    background-image: url("background.jpg");
}

.taskManager {
    background-color: #4785ff;
    border-radius: 30px;
    margin: 0 auto;

}

.text-task {
    height: 50px;
    width: 200px;
    border-bottom-left-radius: 30px;
    color: red;
    background-color: blanchedalmond;
    margin-right: 0;
    padding-right: 0;
}
.add-task {
    background-color: #FAC24C;
    margin-left: 0;
    padding-left: 0;
}